# API Configuration
HOST=0.0.0.0
PORT=8080

# Database Configuration
POSTGRES_DB=subscription_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Spring Data Source
SPRING_DATASOURCE_URL=jdbc:postgresql://subscription-postgres:5432/subscription_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver

# Spring JPA Configuration
SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.PostgreSQLDialect
